<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-gradient-to- from-purple-400 to-purple-800 text-white  rounded-lg py-16">
    <div class="  bg-gradient-to-r from-violet-400 to-purple-400 px-5 py-5 w-[90%] min-h-screen mx-auto rounded-lg shadow-xl shadow-indigo-500/50">
        <h1 class="text-2xl font-semibold text-white ml-[45%] mb-5">Your Posts</h1>
        <hr class="opacity-20">

        <div class="cards px-[2vw] flex flex-wrap justify-evenly text-center">

            <% user.posts.forEach(function(elem){ %>

                <a href="/show/uploads/<%= elem._id %>">
                    <div class="card mt-8">
                        <div class=" w-40 h-44 lg:w-60 lg:h-52 rounded-lg bg-zinc-200 overflow-hidden">
                          <img
                            class="h-full w-full object-cover"
                            src="/images/uploads/<%= elem.image %>" alt="">
                        </div>
                        <h5 class="text-white font-semibold"><%= elem.title %></h5>
                        <h5 class="text-white font-semibold"><%= elem.description %></h5>
                    </div>
                </a>
               
           <% }) %>
           
            
          </div>
    </div>
</div>

<% include ./partials/footer.ejs %>


